# Practice Exercise

Question 1: Let us start by printing the word "Welcome to the practice exercise" in python.

In [4]:
# Print the statement:
print("Welcome to the practice exercise")

Welcome to the practice exercise

Question 2: Create a string variable and print the string.

In [5]:
# Create a string variable:
string = "Welcome to the practice exercise"
# Print the string:
print(string)

Welcome to the practice exercise

Question 3: Create a string by taking user input and print the string.

In [6]:
# Create a string variable taking user input:
input_string = str(input())
# Print the string:
print(input_string)

Hello Bhanu Prakash
Hello Bhanu Prakash

Question 4: Print the pattern given below:



![image.png]()

In [20]:
# Print the pattern shown in the question above:
rows = 3
num = 1

for i in range(1, rows+1):
    for j in range(1, rows-i+1):
        print(end=" ")
        
    for j in range(0, 2*i-1):
        print(num, end="")
        num += 1
        
    print()

  1
 234
56789

Question 5: Print the '#' symbol 15 times without having to type it for 15 times.

In [8]:
# Print the pattern shown in the question above:
for i in range(0,15):
    print('#')

#
#
#
#
#
#
#
#
#
#
#
#
#
#
#

Question 6: Take the user input to print the current date

In [23]:
import datetime
# Take the user input into a string:
date_entry = input('Enter a date in YYYY-MM-DD format: ')
year, month, day = map(int, date_entry.split('-'))
date1 = datetime.date(year, month, day)
# Print the date:

print(date1)

Enter a date in YYYY-MM-DD format: 1999-09-18
1999-09-18

Question 7: Type cast the interger 1.8 into a string and print the result.

In [24]:
# Store the interger as a varaible:
num = 1.8
# Typecast the integer:
string = str(num)
# Print the result:
print(string)

1.8

Question 8: Find the product of two numbers input by the user.

In [25]:
# Take input of the first number and store it in a variable:
first = input()
# Take input of the second number and store it in a variable:
second = input()
# You will need to typecast the input strings into integers
# Calculate the product:
first = int(first)
second = int(second)
# Print the result:
print(first, second)

10
38
10 38

Question 9: Calculate the remainder of the number 6 when divided by the number 4.

In [26]:
# Find the modulus and print the result:
print(6%4)

2

Question 10: Solve the error in code below and print the correct result.

In [28]:
# Given:
# print('I can't study any longer')

# Corrected solution:
print("I can't study any longer")

I can't study any longer

Question 11: Print the following statement using only 1 print statement:

Hello

Good Morning

In [29]:
# Print the required statement:\
print("Hello\n\nGood Morning")

Hello

Good Morning

Question 12: Concatenate the given strings and print the result:

In [30]:
# Given below are the two strings:
string1= 'Welcome to upgrad'
string2= 'coding practice session.'

# Concatenate and print the result:
string = string1+string2
print(string)

Welcome to upgradcoding practice session.

Question 13: Find the length of string given below and print the result.

In [34]:
# Given below is the string:
string = "Welcome to upgrad coding practice session"
# Calculate and print the length:
print(len(string))

41

Question 14: Create a string of length=10. Obtain the fifth and seventh character of the string. Concatenate the characters and form a new string. Print the new string.

In [36]:
# Create a string of length 10:
string = "1234567890"
# You can verify the length:
print(len(string))
# Obtain the fifth letter and store it into a new string:
str1 = string[4]
# Obtain the seventh letter and store it into a new string:
str2 = string[6]
# Concatenate the two strings:
nw = str1 + str2
# Print the result:
print(nw)

10
57

Question 15: Given below is a string. Perform the following operations and print the results:
1. Remove the extra spaces from the string and print the new string.
2. Find the length of new string
3. Remove the last 5 characters of the new string
4. Find the 15th character of the new string
5. Compute the result of concatenation of the first and last letter of the new string.

In [44]:
# Given below is the string:
line= '     I hope you enjoyed this practice session.'

# Removing extra spaces:
nw_line = line.strip()
# Print the result:
print(nw_line)
# Calculate the length:
print(len(nw_line))
# Slice the string to remove the last 5 characters:
sliced_string = nw_line[:len(nw_line)-5]
# Print the result:
print(sliced_string)
# Print the 15th character of the string:
print(sliced_string[14])
# Print the concatenation of first and last character of resulting string:
print(sliced_string[0] + sliced_string[-1])

I hope you enjoyed this practice session.
41
I hope you enjoyed this practice ses
o
Is